html {
  box-sizing: border-box;
  font-family: pragmatica, arial, "Microsoft YaHei","微软雅黑",STXihei,"华文细黑",sans-serif !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-weight: 300;
  color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.page1 {
  background-image: url(../image/bg1.jpg);
}
.page2 {
  background-image: url(../image/bg2.jpg);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
nav ul {
  text-align: center;
  list-style: none;
  padding: 1px;
  margin: 0;
}
nav ul li {
  margin: 15px 10px;
  display: inline-block;
}
nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  -webkit-filter:blur(1px);
}
.left {
  float:left;
  width: 50%;
  padding: 15px 10px;
  font-size: 18px;
  text-align: left;
}
.right {
  float:right;
  text-align: right;
  font-size: 18px;
}
.left a {
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}
.clearleft {
  clear:both;
}
.superweight {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}
.largeweight {
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}
.fixheight {
  height:200px;
}
.piece1{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/bg3_1.jpg);
}
.piece2{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/bg3_2.jpg);
}
.piece3{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/bg3_3.jpg);
}
.piece4{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/bg3_4.jpg);
}
form {
  position: relative;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 40px;
}
form * {
  width: 100%;
}

label {
  padding: 8px;
  position: absolute;
  text-align: right;
  left: -100%;
}
input,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  display: block;
  margin-bottom: 20px;
  color: #000;
}
button {
  border: none;
  border-radius: 9999px;
  padding: 4px;

  background: #ffd524;

  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
}